#pysqlite3-binary
pymupdf4llm
requests
biopython
Beautifulsoup4
pandas
boto3
nltk
openai
openpyxl
sagemaker
scikit-learn
pymetamap
fairlearn
#updated
torch>=2.1.1
transformers
accelerate
huggingface-hub>=0.23
safetensors>=0.4
sentencepiece>=0.2
pillow>=10.0
deepeval
refchecker
